.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14vh;
    max-width: 1800px;
    margin-bottom: 4rem;
}

.btnMenuWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobileMenuIcon {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    cursor: pointer;
}

#navLinks {
    display: none;
    align-items: center;
    list-style: none;
}

#navLinks li {
    margin-right: 2.56rem;
    cursor: pointer;
    font-size: 1.37rem;
    font-weight: var(--p4-font-weight);
    color: var(--btn-featured-primary-color);
}

#navLinks li:active,
#navLinks li:hover {
    color: white;
}

/* mobile and smaller screens */

@media only screen and (min-width: 700px) {
    .navbarContainer {
        margin-bottom: 5rem;
    }
}


@media only screen and (min-width: 1000px) {
    .navbarContainer {
        margin-bottom: 10rem;
    }
    
    #navLinks {
        display: flex;
    }

    #mobileMenuIcon {
        display: none;
    }

    .btnMenuWrapper {
        display: block;
    }
}
