@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  /* colors */
  --primary-color: #000;
  --secondary-color: #5C5C5C;
  --comp-color: #fff;
  --background-color: linear-gradient(217deg, #CB1AE8 0%, #37BDA6 100%);
  --btn-primary-color: rgba(48, 215, 186, 1);
  --btn-secondary-color: #03D6F3;
  --btn-featured-primary-color: rgba(208, 208, 208, 1);
  
  /* default sizes */
  --primary-font-size: 11px;
  
  /* typography */
  --p1-font-weight: 800;
  --p2-font-weght: 700;
  --p3-font-weight: 500;
  --p4-font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--primary-font-size);
}

body {
  font-family: 'Poppins', sans-serif;
}

.main-container {
  background: var(--background-color);
  margin: 0 auto;
  margin-bottom: 8rem;
}

.featured-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1800px;
  width: 83%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.pricing-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  width: 83%; 
}

.featured-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 83%;
  max-width: 900px;
  margin-bottom: 10rem;
}

.title-wrapper {
  max-width: 250px;
  margin-bottom: 4rem;
}

.hide-element {
  display: none;
}

.margin-edge {
  margin: 0 auto;
  width: 90%;
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 12px;
  }
  .title-wrapper {
    max-width: 500px;
  }
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 14px;
  }
  .title-wrapper {
    max-width: 980px;
  }

  .featured-wrapper {
    justify-content: space-around;
  }
}